<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Forum</title>
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Author Name Goes Here" />
<meta name="design" content="Sadhana Ganapathiraju" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="Description Goes Here" />
<meta name="keywords" content="And, Finally, Keywords Go Here." />
<link rel="stylesheet" type="text/css" media="screen" href="/screen.css" />
<!--[if lt ie 7]><link rel="stylesheet" type="text/css" media="screen" href="ie-win.css" /><![endif]-->
</head>
<body>
<div id="header">
  <h1>Forum vulnerabilitati</h1>
</div>
<div id="navigation">
  <ul>
    <li id="lhome" class="active"><a href="/forum">Home</a></li>
    <li id="lsolutions"><a href="/forum/profile">Profile</a></li>
    <li id="lmysterious"><a href="/forum/topics">Forum</a></li>
  </ul>
</div>
<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">
        <form method="post" action="/forum" name="topic_msg" >
          <div id="after_comment_box" class=""></div>
          <input type="submit" value="Cauta" style="float: right">
          <input style="float: right; margin-right: 20px" type=text size=10 name=search value=""> 
        </form>
          <div class="heading" valign="top" align="left">    
   
   
    
      {{ searchResult }}
      <h4>Categories</h4>
      <dl>
        <dt>Web development</dt>
        <dd> Web development is the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). </dd>
        <dt>Mobile development</dt>
        <dd>Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices. Like Web application development, mobile application development has its roots in more traditional software development.</dd>
        <dt>Pen testing</dt>
        <dd>Penetration testing, also called pen testing or ethical hacking, is the practice of testing a computer system, network or web application to find security vulnerabilities that an attacker could exploit. Penetration testing can be automated with software applications or performed manually. </dd>
        <dt>QA</dt>
        <dd>Quality Assurance is popularly known as QA Testing, is defined as an activity to ensure that an organization is providing the best possible product or service to customers. QA focuses on improving the processes to deliver Quality Products to the customer.</dd>
        <dt>Project management</dt>
        <dd class="last">Project management is the practice of initiating, planning, executing, controlling, and closing the work of a team to achieve specific goals and meet specific success criteria at the specified time.</dd>
      </dl>
      
    </div>
  </div>
  
<div id="footer">
  <p>Copyright &copy; </p>
</div>
</body>
</html>
