<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Forum</title>
<meta http-equiv="content-language" content="en-us" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Author Name Goes Here" />
<meta name="design" content="Sadhana Ganapathiraju" />
<meta name="copyright" content="Copyright Goes Here" />
<meta name="description" content="Description Goes Here" />
<meta name="keywords" content="And, Finally, Keywords Go Here." />
<link rel="stylesheet" type="text/css" media="screen" href="/screen.css" />
<!--[if lt ie 7]><link rel="stylesheet" type="text/css" media="screen" href="ie-win.css" /><![endif]-->
</head>
<body>
<div id="header">
  <h1>Forum vulnerabilitati</h1>
</div>
<div id="navigation">
  <ul>
    <li id="lhome" ><a href="/forum">Home</a></li>
    <li id="lsolutions"><a href="/forum/profile">Profile</a></li>
    <li id="lmysterious" class="active"><a href="/forum/topics">Forum</a></li>
  </ul>
</div>
<div id="wrapper">
  <div id="content-wrapper">
    <div id="content">

        <div class="pageContainer">
            <a name=top></a><h1><a href="/forum/topics" style='font-size:13px'>Forum Index</a> &gt; <a href=?action=viewforum&forumid=9 style='font-size:13px'>Filme, Cinematografie</a> &gt; <a style='font-size:13px' href=?action=viewforum&forumid=9&subcat=21>Seriale</a> &gt; Универ</h1>
            <table class="main " border=0 cellspacing=0 cellpadding=0><tr><td class=embedded>
            <table width=100% border=1 id=forumPosts_first cellspacing=0 cellpadding=1><tr><td>
            <div style="margin: 0pt 11px 11px; max-width: 966px; width: 100%;"><a name=5218934></a>
            <table border=0 cellspacing=0 cellpadding=0 width="100%" class="forumPostName"><tr><td class=embedded width=99%>
              
              {% include "topic_response.html" %}

            </div></td></tr></table>
            </td></tr></table>
         
            
            <br />
            <ul>
            <li><b>Scrie la subiectul discuției definit in #0.</b> Mesajul tău ajută cu ceva alți membri ai comunității ?</li>
            <li><b>La o intrebare serioasă se așteaptă un răspuns serios.</b> O întrebare simplă pentru tine, poate fi complicată pentru altcineva. Dacă crezi că ai răspunsul la întrebarea pusă, te rugăm să răspunzi într-un mod cît mai respectuos. Ajutandu-ne reciproc avem de câștigat cu toții.</li>
            <li><b>Te rugăm să aderi la aceleași standarte de comportare in spațiul online la care aderi și în viața reala.</b></li>
            <li><b>Ține minte că vorbești cu alți oameni.</b> Când comunici online, totul ce vezi este un ecran de computer. Scriind, poți să te întrebi "I-aș fi spus acestei persoane în față același lucru ?" sau "S-ar fi supărat un prieten dacă i-aș fi răspuns așa ?".<br />
            </li>
            <li><b>Nu practica trollingul</b>. Un troll este un provocator fără cauză, cineva care lansează o discuție cu scopul de a recrea un conflict de idei. Uneori, conflictul devine amuzant pentru troll, dar aproape niciodată pentru participanții inocenți.
            </li>
            <li><b>Mulțumește persoana care te ajută</b>. Când pui o întrebare și cineva investește timp să-ți răspundă printr-un mesaj gândit și desfășurat, nu uita să mulțumești. Nimeni nu este obligat să-ți răspundă la întrebarea pusă. Dar mulțumind, arăți că timpul său a fost apreciat și recunoscut. Altfel, la următorul mesajul posibil nimeni să nu-ți răspundă. Marcheză mesajul său ca fiind util prin butoanele din colțul drept jos al mesajului.
            </li>
            </ul>
           
            </div>
            <div style="width:740;text-align:center"><h1>Răspuns</h1></div>
           
            <form method="post" action="/forum/topics" name="topic_msg" enctype="multipart/form-data" onsubmit="return submitPostAjax();">
              <input type="hidden" name="action" value="post">
              <input type="hidden" name="topicid" value="347052">
              Conţinut:<br />
              <textarea name="body" id="posttext" style="width:100%; height: 300px;"></textarea>
             
              </p>
            
              <br />
              <div id="after_comment_box" class=""></div>
              <div class="heading" valign="top" align="left"> <p> Recapcha: scrieti 2 + 2 ca si alta operatie matematica </p> <br>  <input type=text size=10 name=recapcha value=""> 
                <br><br><br>
       
              <input type="submit" value="Trimite răspunsul"> <br><br>
              </form>
           
    
            
      
    </div>
  </div>
  
<div id="footer">
  <p>Copyright &copy; </p>
</div>
</body>
</html>
