<table border=0 cellspacing=0 cellpadding=0 width="100%" class="forumPostName"><tr><td class=embedded width=99%>
        <span class="lnk" onmousedown="citeaza(this);">#2</span> by <b>radu990</b><span class="userIcons"></span> (Knight of TMD) </td><td class=embedded width="1%"></td></tr></table>
        <table class=main width=100% border=1 cellspacing=0 cellpadding=5><tr valign="top">
        <td width=150 align=center style="padding: 0px"><img src="/image?image_name=cat.jpg" width="150" height="50"></td>
        <td class="comment" style="position: relative;">{{ text }}
        <br /><br /><br />
        <div style="text-align: right; position: absolute; bottom: 0px; right: 0; margin: 10px; color: #8e8e8e;">
        
        </div>
        </td>
        </tr></td></tr></table>